.drawer {
  display: flex;
  position: sticky;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid var(--colorBlack200);
  background-color: var(--colorWhite);

  & > div > p:not(:last-child) {
    margin-bottom: var(--mM);
  }

  & > div > h2 {
    margin-bottom: var(--mL);
  }

  & a,
  & button {
    cursor: pointer;
  }

  & h3 {
    margin-top: var(--mXL);
    margin-bottom: var(--mS);

    &:first-child {
      margin-top: 0;
    }
  }

  & label {
    margin-top: var(--mS);
    margin-bottom: var(--m2XS);
  }

  & textarea {
    margin-top: var(--mL);
  }

  & > div {
    overflow-y: auto;
  }
}

.drawerNav {
  padding: var(--mM);
}

.formWrapper {
  padding: 0 var(--mM) var(--mL) var(--mM);
}

.formActions {
  margin-top: auto;
  padding: var(--mL) var(--mM);
  border-top: 1px solid var(--colorBlack200);
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  display: flex;
  align-items: flex-start;

  & > div {
    flex: 1;
  }
}

.moreinfo {
  margin-top: calc(-1 * var(--mXS));
  font-style: italic;
  margin-bottom: var(--mXS);
  display: block;
  font-size: 12px;
}

.selectionItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--mXS);

  & > button {
    margin-left: var(--mS);
  }
}

.fullPage {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  & h1 {
    max-width: 50%;
    margin: 0 auto 40px;
    text-align: center;
  }
  & > * {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.json {
  font-size: 1.4rem;
  width: 800px;
  max-width: 100%;
  height: 240px;

  overflow: auto;
  padding: 10px;
  border: 1px solid var(--colorBlack400);
  background-color: var(--colorBlack200);
}

.expertButtons {
  margin-top: var(--mS);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expert {
}

.toggleExpertMode {
  border-top: 1px solid var(--colorBlack200);
  padding-top: var(--pM);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  & svg {
    margin-left: auto;
  }
}
