@keyframes slide-in-blurred-right {
  0% {
    transform: translateX(1000px) scaleX(1.5) scaleY(0.8);
    transform-origin: 0% 50%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

.main {
  position: relative;
  flex: 1;
}

.drawer {
  display: flex;
  position: sticky;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid var(--colorBlack200);
  background-color: var(--colorWhite);

  & > div > p:not(:last-child) {
    margin-bottom: var(--mM);
  }

  & > div > h2 {
    margin-bottom: var(--mL);
  }

  & a,
  & button {
    cursor: pointer;
  }

  & h3 {
    margin-top: var(--mXL);
    margin-bottom: var(--mS);

    &:first-child {
      margin-top: 0;
    }
  }

  & label {
    margin-top: var(--mS);
    margin-bottom: var(--m2XS);
  }

  & textarea {
    margin-top: var(--mL);
  }

  & > div {
    overflow-y: auto;
  }
}

.destination {
  background: #ddd;
  color: #333;
  border-radius: 4px;
  font-size: 9px;
  font-weight: bold;
  padding: var(--p2XS);
}

.drawerNav {
  padding: var(--mM);
  display: flex;
  justify-content: space-between;
}

.formWrapper {
  height: auto !important;
  flex: 1;
  overflow: auto;
  padding: 0 var(--mM) var(--mL) var(--mM);
}

.formBottom {
  margin-top: auto;
  padding: var(--mXS) var(--mXS);
}

.formInfos {
  border-top: 1px solid var(--colorBlack200);
  padding-top: var(--mXS);
  padding-bottom: var(--mXS);
}

.formActions {
  border-top: 1px solid var(--colorBlack400);
  padding: var(--mXS);
  display: flex;
  justify-content: space-between;
}

.contribute {
  font-size: 0.8em;
  text-align: right;
  padding: 0 var(--pXS) var(--pXS);
  & a {
    display: block;
  }
}

.wrapper {
  display: flex;
  align-items: flex-start;
}

.drawerWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.moreinfo {
  margin-top: calc(-0.5 * var(--mXS));
  font-style: italic;
  margin-bottom: var(--mXS);
  display: block;
  font-size: 12px;
}

.selectionItem {
  display: flex;
  align-items: center;
  padding: var(--mXS) 0;
  margin: 0;
  border-top: 1px solid var(--colorBlack200);

  & table {
    flex: 1;
    border-spacing: 0px var(--3mXS);
  }

  & > button {
    margin-left: var(--mS);
  }
}

.fullPage {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  & h1 {
    max-width: 50%;
    margin: 0 auto 40px;
    text-align: center;
  }
  & > * {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  & a {
    cursor: pointer;
  }
}

.fullPageAbove {
  position: absolute;
  background: white;
  width: 100%;
  height: 100vh;
  padding: 50px;
  animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;

  & button {
    position: absolute;
    top: 15px;
    right: 10px;
    border: none;
    background: none;
    font-size: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      color: gray;
    }
  }
}

.json {
  font-size: 1.4rem;
  width: 800px;
  max-width: 100%;
  height: 240px;

  overflow: auto;
  padding: 10px;
  border: 1px solid var(--colorBlack400);
  background-color: var(--colorBlack200);
}

.expertButtons {
  margin-top: var(--mS);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expert {
}

.toggleExpertMode {
  border-top: 1px solid var(--colorBlack200);
  padding-top: var(--pM);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  & svg {
    margin-left: auto;
  }

  & a {
    flex: 1;
  }
}

.pageWronglyLoadedLink {
  color: var(--colorWarning);
  font-size: 0.8em;
  text-align: right;
}

.linkToSnapshot {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid var(--colorBlack200);
  color: black;
  padding: var(--pXS);
  bottom: 10px;
  right: 10px;
  border-radius: 4px;
  &:hover {
    background: rgba(255, 255, 255, 1);
  }
}
