name: Validate typescript and test

on:
  push:
    branches-ignore:
      - main # Validation is already done on every push
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: Install dependencies
        run: npm ci
      - run: npm test
      - name: Typecheck
        uses: andoshin11/typescript-error-reporter-action@v1.0.2
